<div class="card ">
     <img src="https://images.pexels.com/photos/10117799/pexels-photo-10117799.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load">
     <div class="card-body">
        <small class="bg-light text-danger text-center ml-3">Design</small>
        <small class="bg-light text-danger text-center ml-3">Featured</small>
        <small class="bg-light text-danger text-center ml-3">Views-100,256</small>
        
        <h5 class="mt-1"> HOW TO START A BLOG IN 2023 EDITION NEW CATEGORY</h5>
        <p>
           officia atque autem cupiditate similique rerum, magni ullam iure, delectus dolor. Doloribus corporis veritatis sunt.

        </p>
        <small class="bg-light text-success text-center ml-3">LAST UPDATED - FEB 13, 2023</small>
     </div>
    </div>
