<div class="container-fluid row form-box">
 <div class="col-6">
  <h2>Enrollment Form</h2>
  <div class=" ">
     <form #userForm="ngForm" (ngSubmit)="submitForm()">
     <!-- {{userForm.value | json}} -->
      <br>
      <!-- {{userForm.form.valid}} -->
     <!--{{userModel | json}} --> 
      <div class="form-group">
        <label>Name</label>
        <input type="text" #name="ngModel" pattern="" [class.is-invalid]= "name.invalid && name.touched" required  class="form-control " name="Name" [(ngModel)]= "user.name">
        <small class="text-danger" [class.d-none]="name.valid || name.untouched" >*Name is required </small>
      </div>
         
      <div class="form-group ">
        <label>Email</label>
        <input type="email" #email="ngModel" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" [class.is-invalid]= "email.invalid && email.touched" required class="form-control" name="Email" [(ngModel)]= "user.email" >
        <small class="text-danger" [class.d-none]="email.valid || email.untouched">* Please Enter valid Email & Email is required </small>
      </div>

      <div class="form-group" >
        <label>Phone</label>
        <input type="tel" #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]= "phone.invalid && phone.touched" required class="form-control" name="Phone" [(ngModel)]= "user.phone" >
        <small class="text-danger" [class.d-none]="phone.valid || phone.untouched" >*Phone number is required & must be 10 digit </small>
      </div>

     

      <div class="form-group my-2">
        <select required #topic="ngModel" [class.is-invalid]= "topic.invalid && topic.touched" class="custom-select" name="Topic" [(ngModel)]= "user.topic">
          <option value="">I am Interested In</option>
          <option *ngFor="let topic of topics">{{topic}}</option>
          
        </select>
        <small class="text-danger" [class.d-none]= "topic.valid || topic.untouched">*Please choose a topic</small>
      </div>
   
     <div class="mb-3">
      <label>Time Preferences</label>
      <small class="text-danger" [class.d-none]= "time.valid || time.untouched">*Time Preference is required</small>
      <div class="form-check ">
        <input #time="ngModel" required class="form-check-input" type="radio" name="TimePreference" value="morning" [(ngModel)]= "user.timePreference">
        <label>Morning (9AM-12PM)</label>
    </div>

    <div class="form-check ">
      <input #time required class="form-check-input " type="radio" name="TimePreference" value="evening" [(ngModel)]= "user.timePreference">
      <label>Evening (5PM-8PM)</label>
    </div>
     </div>

     <div class="form-check-mb3">
      <input  class="form-check-input" type="checkbox" required name="Subscription" [(ngModel)]= "user.subscription">
      <label class="form-check-label">Send Me Promotional Offers!</label>
     </div>

     <div class="row my-2">
      <div class="col-2">
        <button [disabled]= "userForm.form.invalid " class="btn btn-success" type="submit">Submit</button>
      </div>
      <!-- <div class="col-2">
        <button class="btn btn-danger" type="submit" (click)="resetForm()">Reset</button>
      </div> -->

     </div>

     </form>

  </div>
 </div>

<div class="col-6 list-box">
   <h2>User List</h2>

   <table class="table">
    <thead >
      <tr><th>Name</th>
        <th >Email</th>
        <th>Phone</th>
        <th>Subcription</th>
        <th>Time </th>
      <th>Actions</th>
      </tr>
    </thead>
    

     <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.topic}}</td>
        <td>{{user.timePreference}}</td>
        <td><button class="btn btn-primary" (click)="populateForm(user)" >Update</button></td>
        <td><button class="btn btn-danger" (click)="confirmBox(user) ">Delete</button></td>
      </tr>
     </tbody>

    
   </table>
   <!-- <div>
    <mat-paginator showFirstLastButtons [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page" >
</mat-paginator>

   </div> -->


</div>

</div>