<div class="bg-theme p-5">
    <div class="container">
        <h1 class="text-white">General Knowledge</h1>
        <p class="text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta eum at doloribus aliquid, repellat nisi, aspernatur harum explicabo quod, deleniti eos sunt esse recusandae ea id ipsum temporibus vero tempore.
    
        </p>
    </div>
    
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div><div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div><div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div><div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</div>