<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white">featured-Posts</h2>
                <p  class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, asperiores labore similique laboriosam consectetur, ad veniam distinctio iure corporis enim nulla? Quam sunt consequuntur itaque laudantium accusantium hic repellendus quae.</p>
            </div>
        </div>
    
        <div class="row">
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
        </div>

    </div>

</section>

<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2>Latest Posts</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque laborum iure expedita, culpa sed ipsa voluptates est inventore debitis natus, sunt distinctio voluptatum porro, omnis eos assumenda. Ratione, doloribus vitae.</p>
    </div>

    <div class="row">
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</section>

