<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3">Comments (15,256)</h4>

        <div class="comment-box mt-3">
            <h3>John Doe</h3>
            <small class="text-danger">LAST UPDATED- FEB 13, 2023</small>

            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur voluptatum id excepturi. Non, obcaecati laudantium mollitia at porro eveniet voluptatum quod autem iusto velit neque ipsam officiis ducimus numquam quia.
            </div>
            <a href="#" class="mt-1">Replay</a>
            <a href="#" class="mt-1"> View-Replay</a>
            <hr>
        </div>

        <div class="comment-box mt-3">
            <h3>John Doe</h3>
            <small class="text-danger">LAST UPDATED- FEB 13, 2023</small>

            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur voluptatum id excepturi. Non, obcaecati laudantium mollitia at porro eveniet voluptatum quod autem iusto velit neque ipsam officiis ducimus numquam quia.

            </div>
            <a href="#" class="mt-1">Replay</a>
            <a href="#" class="mt-1"> View-Replay</a>
            <hr>
        </div>

        <div class="comment-box mt-3">
            <h3>John Doe</h3>
            <small class="text-danger">LAST UPDATED- FEB 13, 2023</small>

            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur voluptatum id excepturi. Non, obcaecati laudantium mollitia at porro eveniet voluptatum quod autem iusto velit neque ipsam officiis ducimus numquam quia.

            </div>
            <a href="#" class="mt-1">Replay</a>
            <a href="#" class="mt-1"> View-Replay</a>
            <hr>
        </div>
    </div>
</div>
